@import url("react-big-calendar/lib/css/react-big-calendar.css");
@import "react-big-calendar/lib/addons/dragAndDrop/styles.css";
/* @import url("react-big-calendar/lib/css/react-big-calendar.css"); */

.rbc-toolbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.rbc-header {
  background: hsl(var(--primary));
  color: hsl(var(--accent));
  padding: 4px;
  font-weight: bold;
}

.rbc-toolbar {
  padding: 0 0.75rem;
}

.rbc-off-range-bg {
  background: hsl(var(--calendar-off-range));
  /* background: #f3f4f5; */
}

.rbc-event {
  padding: 0 !important;
  font-size: 14px;
  margin: 0 0px 1px 0px;
}

.rbc-today {
  background-color: hsl(var(--calendar-today));
}

/* .rbc-event-label {
  padding: 1px 4px !important;
} */

/* .rbc-event-content{
} */

.rbc-event,
.rbc-event.rbc-selected {
  background-color: transparent;
  color: inherit;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: auto !important;
}

.rbc-row-segment {
  padding: 0px 4px 0px 4px;
}

.rbc-toolbar button {
  color: hsl(var(--secondary-foreground));
}

.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:hover {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.rbc-toolbar button:hover {
  background-color: hsl(var(--primary) / 0.9);
}
